@charset "utf-8";
.directivo {
	width: 100%;
	padding-bottom: 60px;
}
.directivo_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.directivo_row {
	margin-top: 43px;
}
.directivo_col {
	margin-bottom: 40px;
}
.directivo_item {
	width: 100%;
}
.directivo_image {
	width: 250px;
	height: 200px;
	border-radius: 6px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -86px;
	z-index: 5;
}
.directivo_image img {
	max-width: 100%;
}
.directivo_body {
	width: 100%;
	padding-top: 108px;
	padding-bottom: 24px;
	border-radius: 6px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.directivo_title a {
	font-family: 'Montserrat','Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.directivo_subtitle {
	font-size: 14px;
	font-weight: 400;
	margin-top: 6px;
}
.social_list {
	margin-top: 16px;
}
.social_list ul li {
	display: inline-block;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    padding-left: 19px;
    font-size: 16px;
    font-weight: 400;
}
.social_list ul li:not(:last-child) {
	margin-right: 10px;
}
.social_list ul li a i {
	font-size: 32px;
    outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.directivo_col .directivo_item {
	padding-left: 6px;
	padding-right: 6px;
}
.directivo_col:first-child .directivo_item {
	padding-left: 0;
	padding-right: 6px;
}
.directivo_col:nth-child(4n) .directivo_item {
	padding-left: 6px;
	padding-right: 0;
}

// de juan.scss

.tarjetaDirectivo {
  position: relative;
}

.presentarDirectivo {
  object-fit: cover; 
  height: 200px;
}

.presentarDirectivo_b {
  flex-grow: 1;
}

.nombreDirectivo {
  font-size: 1rem; 
  line-height: 1.2; 
  margin-bottom: 0.5rem;
}

.tituloDirectivo {
  white-space: normal; 
  word-wrap: break-word; 
  overflow: visible; 
  font-size: 0.9rem; 
  line-height: 1.3; 
  margin-bottom: 0;
}

.mostrarInfoDirectivo {
  border: none; 
  padding: 10px; 
  font-size: 1rem; 
  text-align: center; 
  cursor: pointer; 
  width: 100%; 
  transition: background-color 0.2s ease;
}