@charset "utf-8";

.infoPacientes {
  margin-top: 150px; 
  margin-bottom: 50px;
}

.categUrgencia {
  font-weight: bold;
}

.familiarUsuario {
  font-weight: bold;
}

.alert_oirs {
  font-size: 1.1rem;
}

.estrategia {
  text-align: justify; 
  font-size: 1.1rem; 
  line-height: 1.8;
}