@charset "utf-8";
/**************************
    --HACCECIBILIDAD--
**************************/
#btnAccesibilidad {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
}
#menuAccesibilidad {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}
#menuAccesibilidad button {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.accMenu {
    width: 30em;
}

/*aumeta el tamaño del texto*/
.texto-muy-grande {
    font-size: 1.2em !important;
}
.texto-grande {
    font-size: 1em !important;
}
/*reducir el tamaño del texto*/
.smaller-text {
    font-size: 0.6em !important;
}
.texto-muy-pequeño {
    font-size: 0.5em !important;
}

/*****************
* PROGRESO CHINO *
*****************/

.highlighted-element {
    padding: 0.2em;
    background-color: #ffeb3b; /* Yellow highlight */
    transition: all 0.3s ease; /* Smooth transition */
}
.color-filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: multiply;
    opacity: 0.4;
}
.color-filter-yellow {
    background-color: yellow;
}
.color-filter-blue {
    background-color: blue;
}
.color-filter-white {
    background-color: white;
}
.color-filter-black {
    background-color: black;
}
