@charset "utf-8";
/**************************
    --HACCECIBILIDAD--
**************************/
#btnAccesibilidad {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
}
#menuAccesibilidad {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}
#menuAccesibilidad button {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}
#menuAccesibilidad button:hover {
}
.accMenu {
    width: 25em;
}
.texto-grande {
    font-size: 1.25em !important;
}
.high-contrast {
    filter: contrast(120%);
}
/*reducir el tamaño del texto*/
.smaller-text {
    font-size: 0.5em !important;
}

/*****************
* PROGRESO CHINO *
*****************/

.highlighted-element {
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: #ffeb3b; /* Yellow highlight */
    box-shadow: 0 0 0 2px #ffc107; /* Orange border */
    transition: all 0.3s ease; /* Smooth transition */
}

.epilepsy-safe-contrast {
    background-color: #f4f4f4 !important;
    filter: contrast(50%);
    color: #222 !important;
}

.epilepsy-safe-contrast a {
    color: #005580 !important;
}

.color-filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: multiply;
    opacity: 0.4;
}

.color-filter-yellow {
    background-color: yellow;
}

.color-filter-blue {
    background-color: blue;
}

.color-filter-white {
    background-color: white;
}

.color-filter-black {
    background-color: black;
}
