/* COLORES CONSTANTES QUE NO ESTÁN EN compile.css Y DEBEN ESTANDARISARSE/AÑADIRSE */

@charset "utf-8";

.home_slider_title {
    color: #384158;
}
.home_slider_subtitle {
    color: #76777a;
}
.home_search_form div {
    background: #ffffff;
}
.home_search_input:not(:last-child) {
    border-right: solid 1px #e5e5e5;
}
.tags_list li:hover {
    background: #14bdee;
}
.card-title {
	color: #333;
}
.card-only-color {
    box-shadow: 0 0.125rem 0.25rem var(--black-a10);
    background-color: var(--gray-300);
}