@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Navbar
	3.3 Logo
	3.4 Main Nav
		No tiene nada
	3.5 Hamburger
4. Menu
5. Section
6. Home
7. Features
8. Courses
9. Counter
10. Events
11. Team
12. News
13. Newsletter
14. Footer

******************************/

/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900");

/*TODOS LOS CAMBIOS DE ESTE CSS
    FUERON REALIZADO SOLO VIENDO
    LA PAGINA PRINCIPAL DE INICIO*/

/*********************************
2. Body and some general stuff
*********************************/
/*MAPA DEL GOOGLE FIN DE LA PAGINA*/
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Museo Sans 500", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-bottom: 0px;
}
p {
    font-family: "Museo Sans 500", "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
p a {
    display: inline;
    position: relative;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
p:last-of-type {
    margin-bottom: 0;
}
a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
p a:active {
    position: relative;
}
p a:hover::after {
    opacity: 0.2;
}
::selection {
}
p::selection {
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
}
section {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height {
    height: 100%;
}
.super_container {
    width: 100%;
    overflow: hidden;
}
.prlx_parent {
    overflow: hidden;
}
.prlx {
    height: 130%;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.nopadding {
    padding: 0px;
}

.login_button {
    width: 160px;
    height: 100%;
    text-align: center;
}
.login_button a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}

/*********************************
3.2 Navbar
*********************************/
/*VANER PRINCIPAL (INICIO, QUIENES SOMOS, INFORMACION PACIENTE, ETC*/
@media only screen and (max-width: 991px) {
    .navbar {
        width: 100%;
    }
}
.navbar-nav .nav-link {
    transition: color 0.2s ease-in-out;
}
.navbar-brand img {
    max-width: 80px;
    height: auto;
}
@media (max-width: 768px) {
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
}
.navbar-nav li a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.navbar-nav li.active::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
}
.navbar-nav .dropdown-menu a {
    font-size: 16px;
}

/*********************************
3.3 Logo
*********************************/
/*IMAGEN DEL VANER PRINCIPAL*/
.logo,
.logo_text {
    display: inline-block;
}
.logo {
    width: 60px;
    height: 60px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.logo img {
    max-width: 100%;
}
.logo_text {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    vertical-align: middle;
    margin-left: 7px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header.scrolled .logo {
    width: 40px;
    height: 40px;
}
.header.scrolled .logo_text {
    font-size: 24px;
}

/*********************************
3.4 Main Nav
*********************************/

.main_nav_contaner {
}
.main_nav,
.search_button,
.shopping_cart {
    display: inline-block;
}
.main_nav li {
    display: inline-block;
    position: relative;
}
.main_nav li:not(:last-child) {
    margin-right: 44px;
}
.main_nav li a {
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.main_nav li.active::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
}
.search_button {
    margin-left: 46px;
    cursor: pointer;
}
.shopping_cart {
    margin-left: 23px;
    cursor: pointer;
}
.search_button i,
.shopping_cart i {
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header_search_form {
    display: block;
    position: relative;
    width: 40%;
}
.header_search_container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header_search_container.active {
    bottom: -73px;
    opacity: 1;
}
.header_search_content {
    width: 100%;
    height: 73px;
}
.search_input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.header_search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

/*********************************
3.5 Hamburger
*********************************/
.hamburger_container {
}
.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger i {
    font-size: 20px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/*********************************
4. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    z-index: 101;
    padding-right: 60px;
    padding-top: 87px;
    padding-left: 50px;
}
.menu.active {
    right: 0;
}
.menu_close_container {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}
.menu_close {
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div {
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type {
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu .logo {
    margin-bottom: 60px;
}
.menu_nav ul li {
    margin-bottom: 9px;
}
.menu_nav ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu .search {
    width: 100%;
    margin-bottom: 67px;
}
.search {
    display: inline-block;
    width: 400px;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}
.menu .header_search_form {
    width: 100%;
}
.search form {
    position: relative;
}
.menu .search_input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding-left: 15px;
}
.menu .search_input::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.menu .search_input:-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.menu .search_input::-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.menu .search_input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.menu .search_input::input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
}

/*********************************
5. Section
*********************************/

/*SIN CAMBIOS*/

/*********************************
6. Home
*********************************/
.dropdown_item_select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
    padding-left: 20px;
}
.home_search_button {
    width: 120px;
    height: 46px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.home_slider_nav {
    position: absolute;
    top: 55.8%;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.home_slider_prev {
    left: 75px;
}
.home_slider_next {
    right: 75px;
}
.home_slider_nav i {
    line-height: 50px;
    font-size: 22px;
}
/*********************************
11. Team
*********************************/
/*INSTAGRAM*/
.team {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 60px;
}
.team_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.team_row {
    margin-top: 43px;
}
.team_col {
    margin-bottom: 40px;
}
.team_item {
    width: 100%;
}
.team_image {
    width: 70%;
    height: 185px;
    border-radius: 6px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -86px;
    z-index: 5;
}
.team_image img {
    max-width: 100%;
}
.team_body {
    width: 100%;
    height: 180px;
    padding-top: 108px;
    padding-bottom: 24px;
    border-radius: 15px;
    text-align: center;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.team_subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    padding-left: 10px;
    line-height: 1.71;
}
.contact_info_container {
    margin-top: 100px;
}
.contact_info_title {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 700;
}
.contact_form {
    padding-right: 10px;
}
.social_list {
    margin-top: 16px;
}
.social_list ul li {
    display: inline-block;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    padding-left: 19px;
    font-size: 16px;
    font-weight: 400;
}
.social_list ul li:not(:last-child) {
    margin-right: 10px;
}
.social_list ul li a i {
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    outline: none;
}
.comment_textarea {
    width: 100%;
    height: 150px;
    padding-top: 15px;
}
.form_title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}
.comment_button {
    width: 150px;
    height: 46px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-top: 15px;
}
.contact_info {
    padding-left: 45px;
}
.contact_info_text {
    margin-top: 27px;
}
.contact_info_location {
    margin-top: 28px;
}
.contact_info_location_title {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 700;
}
.team_col .team_item {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}
.team_col:first-child .team_item {
    padding-left: 0;
    padding-right: 6px;
}
.team_col:nth-child(4n) .team_item {
    padding-left: 6px;
    padding-right: 0;
}
.team .section_title {
    padding-bottom: 50px;
}

/*********************************
12. Mapa
*********************************/
.mapa_container {
    width: 100%;
    padding-top: 50px;
}
.mapa {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 100px;
}
.mapa_row {
    /*margin-top: 55px;*/
}
.mapa_post_large_container {
    padding-right: 30px;
}
.mapa_post_large {
    width: 100%;
}
.mapa_post_image {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.mapa_post_image img {
    max-width: 100%;
}
.mapa_post_large_title {
    margin-top: 23px;
}
.mapa_post_large_title a {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.mapa_post_meta {
    margin-top: 11px;
}
.mapa_post_meta ul li {
    display: inline-block;
    position: relative;
}
.mapa_post_meta ul li:not(:last-of-type)::after {
    display: inline-block;
    position: relative;
    content: "|";
    margin-left: 14px;
    margin-right: 11px;
}
.mapa_post_meta ul li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.mapa_post_text {
    margin-top: 13px;
}
.mapa_post_link {
    margin-top: 19px;
}
.mapa_post_link a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.mapa_posts_small {
    padding-top: 20px;
}
.mapa_post_small:not(:last-child) {
    padding-bottom: 15px;
    /* border-bottom: solid 1px #e5e5e5; */
}
.mapa_post_small:not(:first-child) {
    padding-top: 29px;
}
.mapa_post_small_title a {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.55;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/*********************************
13. Newsletter
*********************************/

.newsletter {
    width: 100%;
}
.newsletter_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.newsletter_container {
    width: 100%;
    height: 120px;
}
.newsletter_title {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.newsletter_subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}
.newsletter_form_container {
    width: 450px;
    padding-left: 20px;
}
.newsletter_form {
    display: block;
    position: relative;
    width: 100%;
}
.newsletter_input {
    width: calc(100% - 136px);
    height: 40px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.newsletter_input::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.newsletter_input:-moz-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.newsletter_input::-moz-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.newsletter_input:-ms-input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.newsletter_input::input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.newsletter_button {
    width: 136px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/*********************************
14. Paginas del gobierno
*********************************/

.pagespublic {
    padding: 40px 0;
}
.pagespublic .pagepublic {
    margin-bottom: 30px;
    transition: transform 0.3s;
}
.pagespublic .pagepublic:hover {
    transform: scale(1.05);
}
.pagespublic .pagepublic_icon img {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.pagespublic .section_title {
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .pagespublic .pagepublic_col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .pagespublic .pagepublic_col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*********************************
15. Campañas
*********************************/
.campañas {
    padding: 40px 0;
}
.campañas .campaña {
    margin-bottom: 15px;
    transition: transform 0.3s;
}
.campañas .campaña:hover {
    transform: scale(1.05);
}
.campañas .campaña_icon img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.campañas .section_title {
    padding-bottom: 50px;
}
@media (max-width: 991px) {
    .campañas .campaña_col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .campañas .campaña_col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*********************************
16. Footer
*********************************/
/*FIN DE LA PAGINA FOOTER*/
.footer {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 94px;
}
.footer_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer_content {
    padding-bottom: 53px;
}
.footer_logo_text {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_title {
    font-family: "Museo Sans 500", "Roboto Slab", serif;
    font-weight: 700;
    line-height: 0.75;
}
.footer_logo_container {
    margin-top: -14px;
}
.footer_about_text {
    margin-top: 31px;
}
.footer_contact {
    padding-left: 36px;
}
.footer_contact_info {
    margin-top: 33px;
}
.footer_contact_info ul li {
    font-size: 14px;
    font-weight: 400;
}
.footer_contact_info ul li:not(:last-child) {
    margin-bottom: 15px;
}
.footer_links {
    padding-left: 80px;
}
.footer_links_container ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.footer_links_container {
    margin-top: 33px;
}
.footer_links_container ul li a {
    font-size: 14px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_links_container ul li:not(:last-child) {
    margin-bottom: 15px;
}
.footer_mobile {
    display: inline-block;
    float: right;
}
.footer_mobile_content {
    padding-top: 35px;
}
.footer_image:not(:last-child) {
    margin-bottom: 10px;
}
.copyright {
    height: 54px;
}
.cr_list li {
    display: inline-block;
}
.copyright div {
    font-size: 14px;
}
.cr_text a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.cr_list li:not(:last-child) {
    margin-right: 50px;
}
.cr_list li a {
    font-size: 14px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
