@charset "utf-8";
:root {
    /*=== Colores Base ===*/
    --dark-shade-blue: #1e2434;
    --green-400: #75c891; 
    --green-450: #58bd7c;
    --green-525: #4ab66e;
    --green-550: #029834;
    --white: #ffffff;
    --white-FA: #FAFAFA;
}
/*
resources/views/components
resources/views/components/web
resources/views/template
resources/views/web
resources/views/web/comunidad
resources/views/web/diplomat
resources/views/web/post
*/

/* resources/views/template */
.temp_1a {
  background-color: var(--green-550);
}

.temp_1d {
  color: var(--white);
}

.temp_1e {
  background-color: var(--green-525);
}

.temp_1f {
    background-color: var(--green-450);
}

.temp_2b {
    background-color: var(--dark-shade-blue);
}

.temp_4a {
  color: var(--green-400);
}

.temp_5a {
    background-color: var(--white-FA);
}