@charset "utf-8";
/*
resources/views/components
resources/views/components/web
resources/views/template
resources/views/web
resources/views/web/comunidad
resources/views/web/diplomat
resources/views/web/post
*/

/* resources/views/components 

.accesibleBoton {
  z-index: 10000;
}

.accesibleOpcion {
  bottom: 100%;
}
 --- */

/* resources/views/components/web */
.custom-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev.custom-carousel-control {
    left: -70px; /* Mover el botón hacia fuera de la noticia */
}

.carousel-control-next.custom-carousel-control {
    right: -70px; /* Mover el botón hacia fuera de la noticia */
}

.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    filter: invert(1); /* Cambiar color del icono */
}

/* --- */

/* resources/views/template */
/*
.footerFondos {
  background-image:url(images/footer_background.png);
}

.footerMapBorde {
  border:0;
}*/
/*
.headerTop {
  font-family: 'Museo Sans 500';
}*/
/*
.homeFondos {
  background-image:url(images/100años.png);
}*/

.ajusteEnlacesInteres {
  padding-bottom: 50px;

}  

//extras sin usar

.footerBlade_2 {
  font-family: 'Montserrat';
}

.footerBlade_4 {
  font-family: 'Montserrat';
  font-size: 18px;
}

/* --- */

/* resources/views/web */

.quienesSomos {
  margin-top: 150px;
}

.visualNosotros {
  width: 100%;
}

.tarjetasNosotros {
  max-width: 100%;
}

.llenarTarjeta {
  margin: auto; 
  padding-bottom: 20px;
}

.imagenNosotros {
  border-radius: 3%;
}

.textoRelleno {
  text-align: justify;
}

.infoPacientes {
  margin-top: 150px; 
  margin-bottom: 50px;
}

.titulo_texto {
  font-weight: bold;
}

.categUrgencia {
  font-weight: bold;
}

.deberDerecho {
  margin-top: 200px; 
  margin-bottom: 50px;
}
/*
.tarjetaDirectivo {
  position: relative;
}

.presentarDirectivo {
  object-fit: cover; 
  height: 200px;
}

.presentarDirectivo_b {
  flex-grow: 1;
}

.nombreDirectivo {
  font-size: 1rem; 
  line-height: 1.2; 
  margin-bottom: 0.5rem;
}

.tituloDirectivo {
  white-space: normal; 
  word-wrap: break-word; 
  overflow: visible; 
  font-size: 0.9rem; 
  line-height: 1.3; 
  margin-bottom: 0;
}

.mostrarInfoDirectivo {
  border: none; 
  padding: 10px; 
  font-size: 1rem; 
  text-align: center; 
  cursor: pointer; 
  width: 100%; 
  transition: background-color 0.2s ease;
}*/

.familiarUsuario {
  font-weight: bold;
}

.ley {
  width:150px; 
  height:2px; 
  border: none; 
  opacity: 1;
}

.leyInfo {
  line-height: 25px;
}

.alert_oirs {
  font-size: 1.1rem;
}

.estrategia {
  text-align: justify; 
  font-size: 1.1rem; 
  line-height: 1.8;
}
/* --- */

/* resources/views/web/diplomat */

.diplomatPost_1 {
  margin-top:130px;
}
/* --- */
