@charset "utf-8";
:root {
    /*=== Colores Base ===*/
    --black-a50: rgba(0, 0, 0, 0.5);
    --black-a80: rgba(0, 0, 0, 0.8);
    --dark-shade-blue: #1e2434;
    --green-400: #75c891; 
    --green-450: #58bd7c;
    --green-525: #4ab66e;
    --green-535: #28a745;
    --green-550: #029834;
    --orange: #ff8800;
    --white: #ffffff;
    --white-FA: #FAFAFA;
}
/*
resources/views/components
resources/views/components/web
resources/views/template
resources/views/web
resources/views/web/comunidad
resources/views/web/diplomat
resources/views/web/post
*/

/* resources/views/components/web */
.custom-carousel-control {
    background-color: var(--black-a50) /* Fondo semitransparente */
}

.custom-carousel-control:hover {
    background-color: var(--black-a80); /* Fondo más oscuro al pasar el mouse */
}

/* resources/views/template */
.temp_1a {
  background-color: var(--green-550);
}

.temp_1d {
  color: var(--white);
}

.temp_1e {
  background-color: var(--green-525);
}

.temp_1f {
    background-color: var(--green-450);
}

.temp_2b {
    background-color: var(--dark-shade-blue);
}

.temp_4a {
  color: var(--green-400);
}

.temp_5a {
    background-color: var(--white-FA);
}

.footerFondos {
  background-color: var(--green-550);
}

.footerBlade_4 {
  color: var(--white);
}

.footerInstagram {
  background-color: var(--green-525);
}

.footerXYou {
    background-color: var(--green-450);
}

.headerBlade_2 {
    background-color: var(--dark-shade-blue);
}

.instagramBlade_1 {
  color: var(--green-400);
}

.gobiernoBlade_1 {
    background-color: var(--white-FA);
}
/* --- */

/* resources/views/web */
.we_2b {
    color: var(--green-535);
}

.we_5f {
  background-color: var(--green-525); 
  color: var(--white); 
}

.we-6a {
  border: 2px solid var(--green-535);
}

.we_7a {
  color: var(--orange); 
}

.we_8a {
  background-color: var(--green-535); 
}

.arancelBlade_2 {
    color: var(--green-535);
}

.directivoBlade_6 {
  background-color: var(--green-525); 
  color: var(--white); 
}

.donacionBlade_1 {
  border: 2px solid var(--green-535);
}

.horarioBlade_1 {
  color: var(--orange); 
}

.domingaBlade_1 {
  background-color: var(--green-535); 
}
/* --- */