@charset "utf-8";
/*
resources/views/components
resources/views/components/web
resources/views/template
resources/views/web
resources/views/web/comunidad
resources/views/web/diplomat
resources/views/web/post
*/


/* resources/views/components */
.cmpnt_1a {
  z-index: 10000;
}

.cmpnt_1b {
  bottom: 100%;
}

/* resources/views/template */

.temp_1a {
  background-image:url(images/footer_background.png);
}

.temp_1b {
  font-family: 'Montserrat';
}

.temp_1c {
  border:0;
}

.temp_1d {
  font-family: 'Montserrat';
  font-size: 18px;
}

.temp_2a {
  font-family: 'Museo Sans 500';
}

.temp_3a {
  background-image:url(images/100años.png);
}

.temp_5b {
  padding-bottom: 50px;
}