@charset "utf-8";
:root {
    /*=== Colores Base ===*/
    --black-a50: rgba(0, 0, 0, 0.5);
    --black-a80: rgba(0, 0, 0, 0.8);
    --dark-shade-blue: #1e2434;
    --green-400: #75c891; 
    --green-450: #58bd7c;
    --green-525: #4ab66e;
    --green-535: #28a745;
    --green-550: #029834;
    --orange: #ff8800;
    --white: #ffffff;
    --white-FA: #FAFAFA;
}
/*
resources/views/components
resources/views/components/web
resources/views/template
resources/views/web
resources/views/web/comunidad
resources/views/web/diplomat
resources/views/web/post
*/

/* resources/views/components/web */
.custom-carousel-control {
    background-color: var(--black-a50) /* Fondo semitransparente */
}

.custom-carousel-control:hover {
    background-color: var(--black-a80); /* Fondo más oscuro al pasar el mouse */
}

/* resources/views/template */

.footerFondos {
  background-color: var(--green-550);
}

.footerBlade_4 {
  color: var(--white);
}

.footerInstagram {
  background-color: var(--green-525);
}

.footerXYou {
    background-color: var(--green-450);
}

.headerLoginColor {
    background-color: var(--dark-shade-blue);
}

.colorSwiper {
  color: var(--green-400);
}

.colorEnlaces {
    background-color: var(--white-FA);
}
/* --- */

/* resources/views/web */

.titulo_texto {
    color: var(--green-535);
}

.mostrarInfoDirectivo {
  background-color: var(--green-525); 
  color: var(--white); 
}

.tablaDetalles {
  border: 2px solid var(--green-535);
}

.familiarUsuario {
  color: var(--orange); 
}

.ley {
  background-color: var(--green-535); 
}
/* --- */